spacy>=3.0.0
editdistance==0.8
pytest
--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.4
transformers>=4.0.0

# Required for Japanese Language
# mecab-python3==0.996.5
# ipadic==1.0.0
# unidic-lite==1.0.6

# Code formatting
flake8>=3.8.3
black==22.6

